body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1B244B;
}

.container {
    display: flex;
    justify-content: space-around;
    column-gap: 60px;
}

.title {
    color: #EEEEEE;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.score {
    background: black;
    width: 155px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #FA4B6D;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
    width: 155px;
    display: flex;
    justify-content: space-between;
}

.point-btn {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 4px;
    background: #1B244B;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

#new-game-btn {
    display: block;
    border: 2px solid #9AABD8;
    border-radius: 4px;
    background: #1B244B;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin-top: 70px;
    padding: 5px 10px;
}